<div class="row text-center">
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">1 mn</div>
			<div class="panel-body">
				<p class="percent">
					{{ load[0][1] }} %
				</p>
				<p>
					{{ load[0][0] }}
				</p>

			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">5 mn</div>
			<div class="panel-body">
				<p class="percent">
					{{ load[1][1] }} %
				</p>
				<p>
					{{ load[1][0] }}
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">15 mn</div>
			<div class="panel-body">
				<p class="percent">
					{{ load[2][1]}} %
				</p>
				<p>
					{{ load[2][0]}}
				</p>
			</div>
		</div>
	</div>
</div>
